{% extends 'base.html.twig' %}

{# {% block title %}Hello IndexController!{% endblock %} #}

{% block body %}
{{parent()}}
    {% include "index/inc/menu.html.twig" %}
    
<div class="background">
{% block main %}{% endblock %}
{# {% include "index/main.html.twig" %} #}
{% include "index/menu/contact.html.twig" %}
{% include "index/menu/about.html.twig" %}
</div>

{% endblock %}

